.box_2 {
    width: 100%;
    border-top: 1px solid rgb(233, 233, 233);
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.box_2>a {
    display: inline-block;
    width: 165px;
    height: 50px;
    color: #A3A3A3;

}

.box_2>.a_1 {
    color: rgb(43, 43, 43);
}