.content{
    background: #f7f7f7;
    padding-bottom: 35px;
    padding-top: 25px;
}
.center{
    background: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px #d7d7d7 solid;
    width: 1000px;
    /* min-width: 1000px; */
    text-align: left;
    margin: 0 auto;
}
h2{
    position: relative;
    padding: 20px 0 20px 25px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(71,71,71);
}
h2::after{
    background: #fe5341;
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 25px;
    left: 0;
    top: 22px;
}
.reForm{
    width: 400px;
    margin: 50px auto 150px;
}
.reForm>p{
    margin-top: 27px;
}
.reForm>p>input{
    background: #f7f7f7;
    color: #a3a3a3;
    height: 50px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px #eee solid;
    border-radius: 10px;
    outline: none;
}
.reForm>p:nth-child(2)>input,
.reForm>p:nth-child(3)>input{
    width: 245px;
}
/* .reForm>p:nth-child(2),
.reForm>p:nth-child(3){
    position: relative;
} */
.reForm>p{
    position: relative;
}
.reForm>p>span{
    position: absolute;
    top: 15px;
    left: 415px;
    font-size: 13px;
    width: 200px;
    height: 20px;
    /* background-color: rgb(145, 60, 60); */
}
.reForm>p:nth-child(2)>img,
.reForm>p:nth-child(3)>.getCode{
    position: absolute;
    bottom: 0;
    right: 0;
}
.reForm>p:nth-child(3)>.getCode{
    color: #a3a3a3;
    display: block;
    box-sizing: border-box;
    width: 132px;
    height: 50px;
    line-height: 50px;
    border: 1px #a3a3a3 solid;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}
button{
    background: #fe5341;
    color: #fff;
    border: 1px solid red;
    width: 100%;
    cursor: pointer;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
}
.green{
    color: rgb(15, 128, 15);
}
.red{
    color: #fe5341;
}
.block{
    color:#333
}